html {
    height: -webkit-fill-available;
}
html * {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
  
aside, main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /* max-height: 100vh; */
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.full {
    width: 100%;
}

.sidebar li a:hover {
    background-color: rgba(174, 22, 22, 1) !important;
}