html {
    height: -webkit-fill-available;
}
html * {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.btn {
    font-weight: 600 !important;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
  
aside, main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /* max-height: 100vh; */
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.full {
    width: 100%;
}

.sidebar li a:hover {
    background-color: #0A8383 !important;
}

#backgound-login {
    background-image: url("../resources/login.png");
    background-size: cover;
    background-repeat: no-repeat;
}