html {
    height: -webkit-fill-available;
}

html * {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
  
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn {
    font-weight: 600 !important;
}

aside, main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    // max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.banner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.banner-img-desktop {
    background-image: url('../resources/mainpage-thumbnail3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
}
.banner-img-mobile {
    background-image: url('../resources/banner-thumbnail-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .banner-img-desktop {
        display: block;
    }
    .banner-img-mobile {
        display: none;
    }
}

.sidebar li a:hover {
    background-color: #0A8383 !important;
}

#background-login {
    background-image: url("../resources/login.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.full {
    width: 100%;
}

.text-title-banner {
    font-size: 4em;
}

@media (max-width: 768px) {
    .text-title-banner {
        font-size: 2em;
    }
    .text-banner-subtitle {
        display: none;
    }
}

.text-outline-1 {
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000
}

.race-banner {
    width: 14rem; height: 18em;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

.race-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
}

.sponsor-banner {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}

.card-body-banner {
    position: relative;
    width: 14rem; height: 18em;
    top: -18em;
    pointer-events: none;
}

.race-link {
    display: block;
    height: 18em;
    max-height: 18em;
}

.card-body-banner h1 {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    transition: all ease-in-out 0.5s;
    z-index: 50;
    font-size: 1.5em;
}
.card-body-banner h2 {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    transition: all ease-in-out 0.5s;
    z-index: 50;
    font-size: 1.2em;
    opacity: 0;
}

.race-banner:hover {
    transform: scale(1.05);
    filter: blur(2px);
}
.race-banner:hover::before {
    opacity: 1;
}

.race-banner:hover + .card-body-banner h1 {
    top: 50%;
}
.race-banner:hover + .card-body-banner h2 {
    opacity: 1;
}
